body{
    margin: 0px;
    .main-block{
        border-radius: 10px;
        margin-top: 100px;
        padding: 5px;
        margin: 100px auto 0px auto;
        border: 2px solid #c9c9c9;
        background-color: white;
        max-width: 250px;
        .container{
            padding: 10px;
            background-color: #edeeef;
            .add-tag{
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                .check{
                    height: 30px;
                    width: 80px;
                    margin: 0px;
                    margin-right: 5px;
                }
                .name-tag{
                    width: 100%;
                }
                .btn{
                    margin-left: 10px;
                    width: 100%;
                    background-color: #e64d43;
                    border: 2px solid #be4e46;
                    color: white;
                    font-weight: bold;
                    padding: 5px;
                    cursor: pointer;
                }
                .btn:hover{
                    box-shadow: 0px 0px 5px 2px red;
                    background-color: #e2847e;
                }
            }
            .tags{
                background-color: white;
                min-height: 100px;
                margin-top: 10px;
                padding: 5px 10px;
                .tags_p{
                    text-align: center;
                    color: #7d7d7d;
                    margin: 5px auto;
                }
                .tag{
                    position: relative;
                    border: 3px solid #b9cc91;
                    color: #627635;;
                    padding: 5px;
                    text-align: center;
                    background-color: #cfe4a0;
                    border-radius: 5px;
                    margin-top: 5px;
                    .delete-tag{
                        position: absolute;
                        right: 5px;
                        top: 11px;
                        width: 10px;
                        height: 10px;
                        cursor: pointer;
                    }
                    .delete-tag::before, .delete-tag::after{
                        content: "";
                        display: block;
                        height: 2px;
                        background-color: #627635;
                    }
                    .delete-tag::before{
                        transform: translate(0px, 2px) rotate(45deg);
                    }
                    .delete-tag::after{
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
